.projects {
  .left {
    display: table-cell;

    .title {
      font-size: 18px;
      font-weight: bold;
      display: block;
    }

    .subtitle {
      font-size: 16px;
      font-weight: lighter;
      display: block;
    }
  }

  .right {
    text-align: right;
    display: table-cell;
  }

  .article {
    width: 300px;
  }

  .margin-container-15:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
